<?xml version="1.0"?>

<ruleset name="Pronamic Pay with Mollie for Contact Form 7">
	<file>.</file>

	<rule ref="PronamicWP">

	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="pronamic-pay-with-mollie-for-contact-form-7" />
			</property>
		</properties>
	</rule>

	<rule ref="phpcs-text-domain-fixer.xml" />
</ruleset>
